<div class="container">
    <h1>Welcome!!!</h1>

    <p>Have you ever given things to others and forgot about it??</p>
    
    <p>
        This is an web appliction to keep track of the things you loan to your friends. 
        So you will be able to get your things back or find more trust worthy friends.
    </p>

    <p>
        This aplication was made as a part of the Fullstack course given by Grupo San Cristobal. 
        The frontend was built with Angular and the backend with .Net Core.
    </p>
    <p>
        You can see the source code here: <a href="https://github.com/BrunoMollo/TP-GSC-FullStack">>>repo<<</a>
    </p>

</div>
