.container{
    display: flex;
    justify-content: center;
 
    padding: 100px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

mat-card{
    min-width: 300px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    margin-top: 20px;
    margin-bottom: 10px;
}

.error-msj{
    color: rgb(160, 23, 23);
}

.title-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 15px;
    margin-left: 20px;
    padding-top:40px ;
}

.lock-emoji{
    font-size: 3rem;
}

h1{
    font-size: 2rem;
}

